PORT=5000
MONGO_URI=mongodb://localhost:27017/cleverbooks
REDIS_URL=redis://localhost:6379
WEBHOOK_URL=https://webhook.site/d8c272b7-4b88-4aa4-9b05-fc23c0d836d9
CRON_SCHEDULE=0 2 * * *
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=5
TZ=Asia/Kolkata
